In [1]:
import pandas as pd 
import requests

In [2]:
df=pd.read_csv('master.csv')

In [3]:
df=df[['country','year','sex','population','suicides/100k pop','generation']]

In [4]:
df

,country,year,sex,population,suicides/100k pop,generation
0,Albania,1987,male,312900,6.71,Generation X
1,Albania,1987,male,308000,5.19,Silent
2,Albania,1987,female,289700,4.83,Generation X
3,Albania,1987,male,21800,4.59,G.I. Generation
4,Albania,1987,male,274300,3.28,Boomers
...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,3620833,2.96,Generation X
27816,Uzbekistan,2014,female,348465,2.58,Silent
27817,Uzbekistan,2014,male,2762158,2.17,Generation Z
27818,Uzbekistan,2014,female,2631600,1.67,Generation Z
27819,Uzbekistan,2014,female,1438935,1.46,Boomers

In [5]:
new_df=df[df['year']>=2000]
new_df=new_df[new_df['generation']=='Generation Z']

In [6]:
new_df

          country  year     sex  population  suicides/100k pop    generation
226       Albania  2007    male      272497               1.47  Generation Z
227       Albania  2007  female      256808               0.00  Generation Z
238       Albania  2008    male      262464               2.67  Generation Z
239       Albania  2008  female      246288               0.41  Generation Z
243       Albania  2009  female      236174               0.00  Generation Z
...           ...   ...     ...         ...                ...           ...
27795  Uzbekistan  2012  female     2578408               0.62  Generation Z
27805  Uzbekistan  2013    male     2720938               2.24  Generation Z
27807  Uzbekistan  2013  female     2595000               1.19  Generation Z
27817  Uzbekistan  2014    male     2762158               2.17  Generation Z
27818  Uzbekistan  2014  female     2631600               1.67  Generation Z

[1470 rows x 6 columns]

In [7]:
api=new_df.values

In [8]:
api

array([['Albania', 2007, 'male', 272497, 1.47, 'Generation Z'],
       ['Albania', 2007, 'female', 256808, 0.0, 'Generation Z'],
       ['Albania', 2008, 'male', 262464, 2.67, 'Generation Z'],
       ...,
       ['Uzbekistan', 2013, 'female', 2595000, 1.19, 'Generation Z'],
       ['Uzbekistan', 2014, 'male', 2762158, 2.17, 'Generation Z'],
       ['Uzbekistan', 2014, 'female', 2631600, 1.67, 'Generation Z']],
      dtype=object)

In [9]:
api.shape

(1470, 6)

In [ ]:
for i in range(0,1470):
    k=list(api[i])
    mydic={
    "country": k[0],
    "year": k[1],    "sex": k[2],
    "population": k[3],
    "countper100k": k[4],
    "generation": k[5]
    }
    p=requests.post('http://localhost:8000/api/Apis/',mydic)